.image {
  margin-left: 100px;
  border-radius: 50%;
  width: 270px;
  height: auto;
}

.about-content {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.about-me-text {
  width: 800px;
  margin-left: 100px;
}
