.image {
  margin-left: 100px;
  border-radius: 50%;
  width: 270px;
  height: auto;
  border: rgb(225, 230, 22) 6px double;
}

.about-content {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.about-me-text {
  width: 800px;
  margin-left: 100px;
  color: white;
  line-height: 1.5;
}

.about-me-text h2 {
  color: rgb(225, 230, 22);
}

h2 {
  font-size: 3em;
}
