

header {
  margin-top: 100px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  color: rgb(225, 230, 22);
}

.entry-title {
  text-transform: uppercase;
  color: rgb(225, 230, 22);
}

.entry {
  border: solid white 2px;
  width: 450px;
  padding: 70px;
  margin-top: 30px;
  margin-right: 10px;
  color: white;
}

.date {
  font-size: .8em;
}

.journal-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 100px;
}

.button-container{
  padding-top: 30px;
}

.read-more-button {
  text-transform: uppercase;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.read-more-button {
  color: white;
}

.read-more-button:hover {
  background-color: rgb(109, 191, 15);
  color: black;
  cursor: default;
}
