body {
  font-family: 'Overpass Mono', monospace;
  margin: 10px;
  height: 100%
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background-color: rgb(119, 238, 231);
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  flex-wrap: wrap;
}

.name {
  margin-right: auto;
}

ul > li {
  padding-right: 80px;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: underline;
  color: yellow;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  padding-top: 150px;
  adding-bottom: 150px;
}


.footer i {
  font-size:36px;
  color: black;
  padding: 10px;
  margin-right: 20px;
}

* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
 height: 100%;
 position: relative;
}

body > div {
 min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px;
}

.footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
